<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<style>
    body {
        background-image: url(https://images.assetsdelivery.com/compings_v2/ortodoxfoto/ortodoxfoto1502/ortodoxfoto150200006.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
        border-right: 1px solid #bbb;
    }

        li:last-child {
            border-right: none;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover:not(.active) {
                background-color: #111;
            }

    .active {
        background-color: #4CAF50;
    }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
        border-right: 1px solid #bbb;
    }

        li:last-child {
            border-right: none;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover:not(.active) {
                background-color: #111;
            }

    .active {
        background-color: #4CAF50;
    }
</style>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="float-left">

                    <img src="~/ProductImages/logo1.jpg" width="40" height="20" class="d-inline-block align-top" alt="">AgroStore

                </div>
                <ul>
                    <li>
                        @Html.ActionLink("Products", "HomePage", "Login", new { area = "" }, new { @class = "navbar-brand" })

                    </li>
                    <li>
                        @Html.ActionLink("Log Off", "CustomerLogOut", "Login", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("View Cart", "ViewCart", "Customer", new { area = "" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("View Orders", "ViewOrderDetails", "Customer", new { area = "" }, new { @class = "navbar-brand" })
                    </li>

                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/wow.min.js"></script>

</body>
</html>