@model IEnumerable<AgroStoreProject.Models.OrderDetail>

@{
    ViewBag.Title = "ViewOrderDetails";
    Layout = "~/Views/Shared/_LayoutPageCustomer.cshtml";

}

<h2>Order Details</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerDetail.CustFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDetail.ProdName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        
        <th>
            Address
        </th>


    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MobileNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CustomerDetail.CustFirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ProductDetail.ProdName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderStatus)
    </td>
    
    <td>
        @Html.DisplayFor(modelItem => item.CustomerDetail.AddressLine1)
        @Html.DisplayFor(modelItem => item.CustomerDetail.AddressLine2)
        @Html.DisplayFor(modelItem => item.CustomerDetail.District)
        @Html.DisplayFor(modelItem => item.CustomerDetail.Pincode)
    </td>

</tr>
}

</table>
